{%extends "base.html"%}
{%block title%}Displaying processed Data{%endblock%}
{%block content%}
<h1 align = "center">Analysis Table</h1>
<table border = True>
    <tr>
        <th>
            U_ID    
        </th>
        <th>
            SUB_ID
        </th>
        <th>
            S_SK_LVL
        </th>
        <th>
            H_obs
        </th>
        <th>
            T_obs
        </th>
        <th>
            Q_ID
        </th>
        <th>
            A_obs
        </th>
    </tr>
    {% for i in data_analyse %}    
    <tr>
        <td>
            {{ i }}
        </td>
    </tr>
    {%endfor%}
</table>
{%endblock%}