<!--Here we will inherit templates using extend-->
{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<h1 align = "center">MCQ</h1>
<form>
  {%for i in data%}
  <div>
    <label>{{i[0]}}</label>
    <br>
    <input type = "radio" id = "op" name = "op" value = 'op1'>{{i[1]}}
    <br>
    <input type = "radio" id = "op" name = "op" value = 'op2'>{{i[2]}}
    <br>
    <input type = "radio" id = "op" name = "op" value = 'op3'>{{i[3]}}
    <br>
    <input type = "radio" id = "op" name = "op" value = 'op4'>{{i[4]}}
    <hr>
  </div>
  {%endfor%}
  <br>
  <input type = "submit" value = "Submit">
</form>
{% endblock %}
