{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %} 
<style>
  * {padding: 0;margin: 0;}
  
</style>
<div id="body" style="background-color: white;">
  <center>
    <br><br>
    <div id="title">
      <h1 style="font-family: lobster, cursive;color: #000;"> The Beanstalk </h1>
    </div>
    <br><br><br><br><br><br>
  <button type="button" class="btn btn-outline-danger btn-lg">
    <a href="/mcq" style="color: black; text-decoration: none;"> Take test now!</a>
  </button>
</center>
  <!--<h4>Notes</h4>
  <ul class="list-group list-group-fluch" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onclick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
      {% endfor %}
  </ul>
  <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br>
      <div align="center">
          <button type="submit" class="btn btn-primary"> Add Note </button>
      </div>
  </form>-->
</div>
{% endblock %}