{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %} 
<style> 
body { 
  background-image: linear-gradient(#e8e7e7,#9af8c6);
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgba(5, 5, 5, 0.479);
  }

  p {
    padding: 50px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
  }
  .description {
    color: #29617d;
  }
  </style>

<div class="wrapper" style="padding-bottom: 10%;">
  <center>
    <div class="title">
      <h1 style="font-size: 100px;font-family: lobster, cursive; color: #534666;"> The Beanstalk </h1>
    </div>
    <div class="description">
      <p>The beanstalk is a tool that can be used by students aiming to appear for competitive examinations and teachers who wish to upgrade their learning or teaching methodology in order to implement strategic planning for preparation of exams in all domains.</p>

      <p>The name beanstalk was chosen because of the famous fable Jack and the beanstalk where Jack finds magical beans which helps him reach different levels of achievements and to the end reaches the paradise. <br>
        Similarly, the users of our applications shall achieve success in various educational fields 
        and towards the end meet their self-actualization needs.
      </p>
    </div>
    <button type="button" class="btn btn-outline-secondary btn-lg" style="">
     <a href="/mcq" style="color: black; text-decoration: none;"> Take test now!</a>
    </button>
    <hr>
    <h3 style="font-family: 'Sansita Swashed', cursive;text-decoration: underline;">Goals</h3>
    <h6 style="line-height: 75px;">You can add your goals here! </h6>
    <ul class="list-group list-group-fluch" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onclick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control" style="background-color: rgba(0, 0, 0, 0.492);"></textarea>
      <br>
      <div align="center">
        <button type="submit" class="btn btn-outline-dark"> Add Goal </button>
      </div>
    </form>
  </center>
</div>
{% endblock %}