<!--Here we will inherit templates using extend-->
{% extends "base.html" %} 
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Lobster&family=Quicksand:wght@700&family=Righteous&display=swap');
</style>
{% block title %}The Test{% endblock %} 
{% block content %}
<h1 align = "center" style="font-family: 'Quicksand', sans-serif;">Multiple Choice Questions</h1>
<br>
<h6 align = "center" style="font-family: 'Lato', sans-serif;">Select the right option for each question!</h6>
<hr>
<form>
  {%for i in data%}
  <div class="card border-dark" style="background-color: rgb(249, 219, 186);">
    <div class="card-header border-secondary"> <label>Q) {{i[0]}}</label> </div>
    <div class="card-body">
    <input type = "radio" id = "op" name = "op" value = 'op1'>{{i[1]}}
    <br>
    <input type = "radio" id = "op" name = "op" value = 'op2'>{{i[2]}}
    <br>
    <input type = "radio" id = "op" name = "op" value = 'op3'>{{i[3]}}
    <br>
    <input type = "radio" id = "op" name = "op" value = 'op4'>{{i[4]}}
    </div>
  </div>
  {%endfor%}
  <hr>
  <center>
    <input class = "btn btn-outline-info btn-lg" type = "submit" value = "Submit">
    <input class ="btn btn-outline-secondary btn-lg" type="reset" value="Clear">
  </center>
  <hr>
</form>
{% endblock %}
